h1 {
  font-size: 70px;
  text-align: center;
  padding: 60px;
  background-color: beige;
  width: 100%;
}

h5 {
  color: beige;
}

body {
    background-color: rgb(220, 220, 220);
}

.container {
  height: 100%;
}

.row {
  height: 100%;
  
}

.col-md-3 {
  background-color: lightgreen;
}

.col-md-9 {
  background-color: rgb(220, 220, 220);
}
